.nav-bar-dark-theme {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
}
.nav-bar-light-theme {
  background-color: rgb(255, 255, 255);
  color: #282c34;
  display: grid;
  grid-template-columns: auto auto auto;
}

button {
  border: none;
  background-color: transparent;
  margin: auto;
}
