.nav-bar-dark-theme {
  background-color: rgb(28, 28, 28);
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
}
.nav-bar-light-theme {
  background-color: rgb(255, 255, 255);
  color: rgb(28, 28, 28);
  display: grid;
  grid-template-columns: auto auto auto;
}
